@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

/* https://google-webfonts-helper.herokuapp.com/fonts */

/* libre-baskerville-regular - latin */
@font-face {
     font-family: 'Libre Baskerville';
     font-style: normal;
     font-weight: 400;
     src: local(''),
          url('../fonts/libre-baskerville-v14-latin-regular.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
   }
   
   /* libre-baskerville-700 - latin */
   @font-face {
     font-family: 'Libre Baskerville';
     font-style: normal;
     font-weight: 700;
     src: local(''),
          url('../fonts/libre-baskerville-v14-latin-700.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
   }
   
   
  
 
}